    <footer>
      <div class="container-xl p-responsive py-4 ">
        <div class="d-flex flex-justify-between">
          <ul class="list-style-none float-right text-small">
            <li class="d-inline-block ml-lg-2"><a href="{{ "/contact/" | relative_url }}">Contact us</a></li>
            <li class="d-inline-block ml-2"><a href="{{ "/contact/#legal-notice" | relative_url }}">Legal notice</a></li>
            {%- if site.google_analytics %}
            <li class="d-inline-block ml-2"><a href="#consentement" data-consentement-ouvrir>Cookies</a></li>
            {%- endif %}
          </ul>

          <a href="/" class="text-center">
            <span class="sr-only">Back to Home</span>
            {% octicon mark-github height:24 class:"fill-gray-light d-inline" aria-label:github-logo %}
          </a>

          <ul class="list-style-none float-left text-small">
            <li class="d-inline-block mr-lg-2"><a href="https://github.com/osfarm">On GitHub</a></li>
            <li class="d-none d-lg-inline-block mr-lg-2"><a href="/why">Why</a></li>
            <li class="d-none d-lg-inline-block mr-lg-2"><a href="/community/">Commons</a></li>
          </ul>
        </div>

        <p class="border-top text-center f5 mt-4 pt-4">&copy; 2023 - {{ site.time | date: '%Y' }} <span>OSFarm</span>, Inc. and contributors</p>
      </div>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    {% if page.url == "/community/" %}
      <script src="{{ "/assets/js/community.js" | relative_url}}"></script>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {% include google-analytics.html lang="en" %}
  </body>
</html>
<!-- Proudly powered by GitHub Pages ~ Generated {{ site.time }} -->
