---
layout: fr-home
title: OSFarm
description: Solutions ouvertes et interopérable pour le monde agricole.
org_count: 60
permalink: /fr/
---
  <div class="container-lg p-responsive py-4 py-lg-6 my-xl-4 text-center">
    <h1 class="alt-h1 mb-2 text-white">Solutions ouvertes et interopérables pour l'agriculture de demain.</h1>
    <p class="f2-light text-white">Open source, Durable, Complète, Abordable, Résiliente, Interopérable.</p>
  </div>
</div><!-- ends .full-width that started in header.html -->
<section id="news" class="mini-section mt-6 bg-gray-light">
  <div class="container-lg p-responsive">
    <div class="mt-md-6 clearfix gutter-spacious">
      <div class="mb-4 col-md-6 float-left">
        <img class="d-block pr-4 float-left" style="width: 80px;" alt="ADI Logo" src="{{"/assets/img/adi.png" | relative_url}}">
        <h2 class="alt-h3 mb-2">
          ADI présente OSFarm pour la robotique agricole
          <a href="{{"/fr/agritech_adi/" | relative_url}}">Plus d'infos {% octicon chevron-right height:18 class:"d-inline fill-blue ml-1" %}</a>
        </h2>
      </div>
      <div class="mb-4 col-md-6 float-left">
        <img class="d-block pr-4 float-left" style="width: 80px;" alt="OSXP Logo" src="{{"/assets/img/osxp.png" | relative_url}}">
        <h2 class="alt-h3 mb-2">
          OSFarm talk lors de l'OSXP 2023 à Paris 
          <a href="{{"/fr/osxp2023/" | relative_url}}">Plus d'infos {% octicon chevron-right height:18 class:"d-inline fill-blue ml-1" %}</a>
        </h2>
      </div>
    </div>
    <div class="mb-md-6 clearfix gutter-spacious">
      <div class="mb-4 col-md-6 float-left">
        <img class="d-block pr-4 float-left" style="width: 80px;" alt="France 2030 Logo" src="{{"/assets/img/france_2030.png" | relative_url}}">
        <h2 class="alt-h3 mb-2">
          OSFarm participe à France 2030
          <a href="{{"/fr/france2030/" | relative_url}}">Plus d'infos {% octicon chevron-right height:18 class:"d-inline fill-blue ml-1" %}</a>
        </h2>
      </div>
      <div class="mb-4 col-md-6 float-left">
        <img class="d-block pr-4 float-left" style="width: 80px;" alt="SIA Logo" src="{{"/assets/img/sia.jpg" | relative_url}}">
        <h2 class="alt-h3 mb-2">
          OSFarm au SIA 2024
          <a href="{{"/fr/sia2024/" | relative_url}}">Plus d'infos {% octicon chevron-right height:18 class:"d-inline fill-blue ml-1" %}</a>
        </h2>
      </div>
    </div>
  </div>
</section>

<section class="bg-light">
  <div class="container-lg p-responsive py-5 py-md-6">
    <h2 class="alt-h2 text-center mb-3 mt-lg-6" id="more-than-just-code">Appel à contributeurs 2025</h2>
    <p class="alt-lead text-gray text-center col-md-10 mx-auto">OSFarm a besoin de vous pour developper des projets open source et opérationnels plébiscités par la communauté</p>
    
    <div class="my-4 my-lg-6 clearfix gutter-spacious">
    {% for org in site.data.osfarm_projects %}
      <div class="col-md-4 float-left animate-out mb-4">
        <div class="card" style="width: 18rem;">
          <h2 class="card-header">{{ org.name }}</h2>
          <img src="{{ org.logo | relative_url }}" class="card-img-thumbnail-top" style="max-height: 200px; min-height: 200px; width: auto; margin: auto;" alt="">
          <div class="card-body">
            <h3 class="card-title">{{ org.description_fr }}</h3>
            <h2 class="alt-h3 mb-2">
              {% octicon git-branch height:28 class:"fill-blue d-inline mr-2" aria-label:terminal %}
              <a href="{{ org.repository }}" target= "_blank" class="animate-in">Code</a>
              {% octicon link-external height:28 class:"fill-blue d-inline mr-2" aria-label:terminal %}
              <a href="{{ org.project_url }}" target= "_blank" class="animate-in">Résumé</a>
            </h2>
            <h2 class="alt-h3 mb-2"></h2>
              {% octicon server height:28 class:"fill-blue d-inline mr-2" aria-label:terminal %}
              {{ org.stack }}
            </h2>
           
            <div class="embed-responsive embed-responsive-16by9">
                {% for people in org.teams %}
                <a href="{{ people.url }}" class="animate-in">
                  <img class="avatar" src="{{ people.img | relative_url }}" target="_blank" alt="{{ people.name }}" width="80" height="80"/>
                </a>
                {% endfor %}
            </div>
            <div id="carousel{{ org.name }}" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                {% for company in org.companies %}
                <div class="carousel-item active">
                  <img src="{{ company.logo | relative_url }}" class="card-img-thumbnail-top" style="max-height: 80px; min-height: 80px; width: auto; margin: auto;" alt="{{ company.name }}">
                </div>
                {% endfor %}
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ org.name }}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ org.name }}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <h2 class="alt-h3 mb-2"></h2>
              {% octicon mail height:28 class:"fill-blue d-inline mr-2" aria-label:terminal %}
              <a href="mailto:{{ org.mail }}" target= "_blank" class="animate-in">Rejoindre le groupe</a>
            </h2>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
    <p class="text-gray text-center col-md-10 mx-auto">>> Vous pouvez participer au titre du Mécenat de compétences ou du Mécenat</p>
    <p class="text-center">
      <a href="https://www.helloasso.com/associations/osfarm/adhesions/adhesion-osfarm-2024" target="_blank" class="btn btn-outline">J'adhère pour participer à un de ces projets&rarr;</a>
    </p>
  </div>
</section>

<section class="bg-gray-light">
  <div class="container-lg p-responsive py-5 py-md-6">
    <h2 class="alt-h2 text-center mb-3 mt-lg-6" id="more-than-just-code">9 projets qui contribuent à OSFarm</h2>
    <p class="alt-lead text-gray text-center col-md-10 mx-auto">OSFarm selectionne des projets opérationnels et open source et les ajoutent à son catalogue d'interopérabilité</p>
      <div class="my-4 my-lg-6 clearfix gutter-spacious">
        {% for org in site.data.showcases %}
          <div class="col-md-4 float-left animate-out mb-4">
            <h3 class="alt-h3 mb-3">{{ org.name }}</h3>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item"
                src="{{ org.video }}" frameborder="0" allowfullscreen="">
              </iframe>
            </div>
            <small>{{ org.description-fr }}</small>
          </div>
        {% endfor %}
      </div>
  </div>
</section>

<section class="container-lg p-responsive py-5 py-md-6 my-lg-6">
  <h2 class="alt-h2 text-center mb-3 mt-lg-6">6 raisons de nous rejoindre</h2>
  <div class="clearfix gutter-spacious">
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon terminal height:28 class:"fill-blue d-inline mr-2" aria-label:terminal %}
        Collaborer sur des projets durables
      </h2>
      <p class="text-gray">Partager votre travail, échanger et ayer un retour rapide sur vos projets pour gagner du temps sans ré-inventer la roue.</p>
    </div>
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon server height:28 class:"fill-blue d-inline mr-2" aria-label:server %}
        Sur votre ferme, sur votre serveur ou dans le cloud
      </h2>
      <p class="text-gray">Lancer une stack OSFarm en local, sur une machine physique ou chez un hébergeur de votre choix.</p>
    </div>
  </div>

  <div class="clearfix gutter-spacious">
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon beaker height:28 class:"fill-blue d-inline mr-2" aria-label:beaker %}
        Accélérer l'innovation
      </h2>
      <p class="text-gray">OSFarm vous permet de mettre en oeuvre vos idées très rapidement</p>
    </div>
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon tools height:28 class:"fill-blue d-inline mr-2" aria-label:tools %}
        Logiciel, Matériels, Design, Electronique...
      </h2>
      <p class="text-gray">Intégrer et personnaliser tous les composants dont vous avez besoins pour déployer une solution qui correspond à vos attentes</p>
    </div>
  </div>

  <div class="clearfix gutter-spacious">
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon globe height:28 class:"fill-blue d-inline mr-2" aria-label:globe %}
        Venez vous former et valider votre projet sur nos show-rooms
      </h2>
      <p class="text-gray">Tester votre projet et venez former vos collaborateurs en conditions réelles grâce à nos show rooms.</p>
    </div>
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        {% octicon checklist height:28 class:"fill-blue d-inline mr-2" aria-label:checklist %}
        Arréter la procrastination.
      </h2>
      <p class="text-gray">Arrêter la procrastination et les longues heures de réunions qui aboutissent à rien et lancez vous avec OSFarm</p>
    </div>
  </div>

  <p class="text-center">
    <a href="{{ "/community/" | relative_url}}" class="btn btn-outline">Montrez moi les projets &rarr;</a>
  </p>
</section>

<section class="">
  <div class="container-lg p-responsive py-5 py-md-6 ">
    <h2 class="alt-h2 text-center mb-3 mt-lg-6" id="join-the-revolution">Rejoignez la révolution en marche</h2>
    <p class="alt-lead text-gray text-center col-md-10 mx-auto">Rencontrer des personnes, des projets, des organisations du monde entier ou proche de chez vous avec qui vous allez pouvoir collaborer sur des sujets passionnants.</p>
  </div>
    <div class="featured-orgs text-center p-2 m-2">
      {% for orgs in site.data.projects %}
        {% for org in orgs[1] %}
          {% if org.github_org %}
            <a href="https://github.com/{{ org.github_org }}" class="animate-in">{% avatar user=org.github_org size=80 %}</a>
          {% endif  %}
        {% endfor %}
      {% endfor %}
    </div>
</section>

<section id="contact-a-human" class="bg-gray-light">
  <div class="container-lg p-responsive py-5 py-md-6 text-center">
    <h2 class="alt-h2 text-center mb-3 mt-lg-6">avec des experts à la pointe de l'innovation</h2>
    <div class="featured-orgs text-center p-2 m-2">
      {% for people in site.data.teams %}
      <a href="{{ people.url }}" class="animate-in">
        <img class="avatar" src="{{ people.img | relative_url }}" alt="{{ people.name }}" width="80" height="80"/>
        <div class="caption">{{ people.name }}</div>
      </a>
      {% endfor %}
    </div>
    <h3 class="alt-h2 mb-4">Echanger avec nous</h3>
    <a href="mailto:contact@osfarm.org" class="text-center">
      <span class="sr-only">Email</span>
      {% octicon inbox height:24 class:"fill-gray-light d-inline" aria-label:github-logo %}
    </a>
    <a href="https://discord.gg/AtY5ZxCsWM" target="_blank" class="text-center">
      <span class="sr-only">Discord</span>
      {% octicon comment-discussion height:24 class:"fill-gray-light d-inline" aria-label:github-logo %}
    </a>
  </div>
</section>

<section id="get-started" class="mini-section mt-6">
  <div class="container-lg p-responsive">
    <h2 class="alt-h2 text-center mb-3 mt-lg-6">Lancez vous aujourd'hui !</h2>
    <p class="text-center">
      <a href="https://www.helloasso.com/associations/osfarm/adhesions/adhesion-osfarm-2024" target="_blank" class="btn btn-outline">J'adhère gratuitement pour 2024&rarr;</a>
    </p>

    <div class="mt-md-6 clearfix gutter-spacious">
      <div class="mb-4 col-md-6 float-left">
        <h3 class="alt-h3 mb-2">Je suis un porteur / contributeur de projet agricole ouvert</h3>
        <p class="text-gray">Je developpe des projets et propose des services.</p>
      </div>
      <div class="mb-4 col-md-6 float-left">
        <h3 class="alt-h3 mb-2">Je suis un agriculteur</h3>
        <p class="text-gray">J'utilise des solutions et je les personnalises.</p>
      </div>
    </div>
    <div class="mb-md-6 clearfix gutter-spacious">
      <div class="mb-4 col-md-6 float-left">
        <h3 class="alt-h3 mb-2">Je suis une organisation agricole</h3>
        <p class="text-gray">Je propose des solutions et veux les rendres interoperables.</p>
      </div>
      <div class="mb-4 col-md-6 float-left">
        <h3 class="alt-h3 mb-2">Je souhaite soutenir financièrement les actions de cette association</h3>
        <p class="text-gray">J'ai un intérêt à voir se developper l'interoperabilité et l'usage des nouvelles technologies ouvertes.</p>
      </div>
    </div>
    <p class="text-center">
      <a href="https://www.helloasso.com/associations/osfarm/adhesions/adhesion-osfarm-2024" target="_blank" class="btn btn-outline">J'adhère gratuitement pour 2024&rarr;</a>
    </p>
  </div>
</section>
